* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #ededed;
}

header {
    text-align: center;
    padding: 50px;
    color: rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ededed; /* navigation bar*/
    text-decoration: none;
    font-weight: bold;
    background-color: #171717;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

section {
    margin: 20px 0;
}

.project-gallery {
    display: flex;
    justify-content: center; /* Center the images in the gallery */
    
    /*gap: 3px; Adds space between the items */
}

.project-item {
    text-align: center; /* Centers text and content in each project item */
    width: 300px; /* Sets a consistent width for each item */
}

.project-item img {
    max-width: 100%; /* Ensures images are responsive */
    height: auto;
    border-radius: 5px; /* Optional: Rounds image corners */
}

.project-item iframe {
    margin-top: 10px; /* Adds space between description and video */
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    /*
    text-color: rgb(255, 255, 255);*/
}

.section {
    opacity: 0; /* Start invisible */
    transform: translateY(70px); /* Start slightly lower */
    transition: opacity 1.2s ease, transform 1.2s ease; /* Animate both opacity and position */
}

.section.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}